<section class="awards">
  <div class="container">
    <div class="row">
      <h2 class="col-xs-12">
        Our Success Speaks for Itself
      </h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed exercitationem rem eaque facere, culpa officiis suscipit consectetur neque veniam recusandae doloremque labore a! Saepe non fugit deserunt, rem esse accusantium.</p>
    </div>
  </div>
</section>
