<section class="bio text-inversed">
  <div class="container">
    <h2 class="section-headline">Your Fort Collins Criminal Defense And dui lawyer</h2>

    <article class="row">
      <div class="col-xs-12">
        <p class="lead">At the office of Eric A. Sunness, Attorney at Law, LLC, our approach to representing clients is characterized by straightforward advice and realistic goal setting. Our years of practice in the Colorado courts allow us to describe likely outcomes to his clients early on, although we make no promises other than hard work and honesty.</p>
      </div><!-- col -->

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>A Proven Approach Based On Hard Work And Honesty</h3>
          <p>With more than 25 years of successful practice, our firm has gained the respect of the local legal community for our straight-shooting and practical style. We frequently receive referrals from attorneys on the opposite side — one of the highest compliments a lawyer can receive. We have also received several referrals from former clients — a testament to client satisfaction.</p>
        </div><!-- col -->

        <div class="col-xs-12 col-sm-6">
          <%= image_tag 'eric-sunness-dui-lawyer-help-book.png', class: "book-image" %>
          <div class="ebook-description">
            <p>Eric has written a book to help people with their DUI Defense. <strong>Enter your email address below to receive a FREE Copy.</strong></p>

            <form action="index.html" method="post">
              <div class="form-group form-denim shadow-box">
                <label for="email" class="sr-only">Email</label>
                <input type="email" name="email" id="email" placeholder="Please enter your email address">
                <div class="actions">
                  <button type="submit" class="button-sand button">Submit</button>
                </div>
              </div><!-- .form-group -->
            </form>
          </div>
        </div><!-- col -->
      </div><!-- row -->
    </article><!-- row -->
  </div><!-- container -->
</section>
