<section class="bio text-inversed">
  <div class="container">
    <article class="row taller-container onScrollContainerTransition">
      <h2 class="section-headline">Your Fort Collins Criminal Defense And DUI Lawyer</h2>
      <div class="col-xs-12">
        <p class="lead">Eric Sunness is a highly-experienced, honest, and regarded trial lawyer. As a former prosecutor, he leverages his expert knowledge of the law and long-standing rapport wih the office of the district attorney to obtain extraordinary outcomes for his clients. I give my clients unrivaled representation in Larimer and Weld County courts by being tenacious, innovative, pragmatic and effective. I have a reputation for exceptional advocacy, and I never forget what is most important — my client, their well-being, and in particular, their freedom.</p>
      </div><!-- col -->

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3>A PROVEN PATH THROUGH HARD WORK AND INTEGRITY</h3>
          <p class="secondary-bio">Eric Sunness has successfully handled thousands of cases over the last twenty-five years concentrating on the practice areas of DUI/DWAI/DUID, and Criminal Defense. The firm is supported by an experienced legal support staff and advanced technology, allowing the firm to deliver phenomenal outcomes at a sensible cost. Mr. Sunness personally handles every case, and clients can be assured that their case will be handled professionally and efficiently.</p>
        </div><!-- col -->

        <div class="col-xs-12 col-md-6 ebook-section">
          <%= image_tag 'eric-sunness-dui-lawyer-help-book.png', class: "book-image" %>
          <div class="ebook-description">
            <p>Eric has written a book to help people with their DUI Defense. <strong>Enter your email address below to receive a FREE Copy.</strong></p>

            <%= render partial: "layouts/ebook_form" %>
          </div>
        </div><!-- col -->
      </div><!-- row -->
    </article><!-- row -->
  </div><!-- container -->
</section>
