  <li class="slide">hello</li>
  <li class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, reiciendis, fugit! Dolorum numquam eveniet repellendus quas adipisci officiis consectetur, amet voluptate omnis debitis, iure maxime dolores ut sit odio facere!</li>
  <li class="slide">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
