<section class="denim-colored-section">
  <div class="container">
    <div class="row contact-home center-section taller-container onScrollContainerTransition">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>Contact a Fort Collins, Loveland, and Greeley Attorney For the Best Representation</h2>

        <p class="contact-text">Contact our firm today to schedule your no-cost consultation. Our offices are centrally located in Old Town Fort Collins. We accept DUI/DWAI/DUID and Criminal cases in Larimer and Weld Counties.</p>

        <blockquote cite="Eric Sunness">
          Mr. Sunness has earned the respect of the neighboring legal group for our straight-shooting and pragmatic style. We often receive referrals from lawyers on the opposite side of the case — one of the most noteworthy compliments a legal advisor can get. We have also gotten several referrals from previous clients.
          <strong class="blockquote-name"> — a demonstration of customer satisfaction.</strong>
        </blockquote>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render partial: "messages/contact", locals: {message: Message.new}  %>
      </div>
    </div>
  </div>
</section>
