<section class="denim-colored-section">
  <div class="container">
    <div class="row contact-home center-section taller-container onScrollContainerTransition">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>Contact a Fort Collins, Loveland, and Greeley Attorney For the Best Representation</h2>

        <p class="contact-text">Contact our firm today to arrange your free initial consultation. Our offices are centrally located in Old Town Fort Collins. We handle DUI/DWAI/DUID and Criminal cases in Larimer and Weld Counties.</p>

        <blockquote cite="Eric Sunnes" class="shadow-box">
          Mr. Sunness has gained the respect of the local legal community for his straight-shooting and practical style. He frequently receives referrals from attorneys on the opposite side – one of the highest compliments a lawyer can receive. The firm also receives several referrals from former clients.
          <strong class="blockquote-name">- A testament to client satisfaction. </strong>
        </blockquote>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 contact-form">
        <%= render partial: "messages/contact", locals: {message: Message.new}  %>
      </div>
    </div>
  </div>
</section>
