<section class="denim-colored-section">
  <div class="container">
    <div class="row contact-home center-section taller-container">
      <div class="col-xs-12 col-sm-6 col-md-8">
        <h2>We're Here to Help You</h2>

        <p class="contact-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti illo, enim numquam autem, aliquam nobis quaerat vitae reprehenderit accusamus, eligendi ipsam ratione natus facere aperiam. Repellat eaque facilis atque quidem.</p>

        <blockquote cite="Eric Sunnes" class="shadow-box">
          I believe that people need a professional, thorough lawyer, one who can articulate facts to the district attorney, the other side or the judge, and one who has a good understanding of what's reasonable.
          <strong class="blockquote-name">- Eric A Sunness, Attorney at Law </strong>
        </blockquote>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-4 contact-form">
        <%= render partial: "messages/contact", locals: {message: Message.new}  %>
      </div>
    </div>
  </div>
</section>
