<section class="denim-colored-section">
  <div class="container">
    <div class="row contact-home center-section taller-container">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <h3>We're Here to Help You</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti illo, enim numquam autem, aliquam nobis quaerat vitae reprehenderit accusamus, eligendi ipsam ratione natus facere aperiam. Repellat eaque facilis atque quidem.</p>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4 contact-form">
        <%= render partial: "messages/contact", locals: {message: Message.new}  %>
      </div>
    </div>
  </div>
</section>
