<section class="hero">
  <div id="hero-text">
    <h1 id="hero-header" class="text-inversed">Fort Collins DUI and Criminal Defense Attorney</h1>
    <p id="hero-description" class="text-inversed">Superior Representation Through Aggressive Advocacy and Dedicated Legal Counsel. When the stakes are high you need a talented, professional, and thorough attorney who will go the extra mile to deliver the best result for you.</p>
  </div>
</section>
