<section class="hero">
  <div id="hero-text">
    <h1 id="hero-header" class="text-inversed">Fort Collins DUI and Criminal Defense Attorney</h1>
    <p id="hero-description" class="text-inversed">Exceptional Representation Through Diligent Advocacy and Dedicated Intentness. When you have a lot on the line you need a talented, professional, and thorough attorney who will go the additional mile to convey the best outcome for you.</p>
  </div>
</section>
