<section class="hero">
  <div id="hero-text">
    <h1 id="hero-header" class="text-inversed">Hard Work. Experience. Results.</h1>
    <p id="hero-description" class="text-inversed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsam libero, officiis perferendis sint id itaque, ea vitae laboriosam labore praesentium architecto. Est necessitatibus voluptas ut esse incidunt possimus quibusdam.</p>
  </div>
</section>
