<section class="practice-areas container-fluid">
  <div class="row">
    <%= link_to(fort_collins_dui_lawyer_path) do %>
      <div class="col-xs-5 col-md-3 col-md-offset-2 practice-area shadow-box">
        <%= image_tag('icon-dui-lawyer-fort-collins.png') %>
        <h2 class="practice-area-title">DUI/DWAI</h2>
      </div>
    <% end %>
    <%= link_to(fort_collins_criminal_defense_lawyer_path) do %>
      <div class="col-xs-5 col-xs-offset-2 col-md-3 col-md-offset-2 practice-area shadow-box">
        <%= image_tag('icon-criminal-justice-lawyer-fort-collins.png') %>
        <h2 class="practice-area-title">Criminal Defense</h2>
      </div>
    <% end %>
</section>
