<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero about">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Fort Collins, Loveland, and Greeley DUI and Criminal Defense Law Firm</h1>
      <p id="hero-description" class="text-inversed">We distinguish ourselves from the majority of other attorneys handling DUI cases by further focusing our practice on continually learning the best and most effective ways to beat the government’s vast array of scientific evidence.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">

        <p>At Eric A. Sunness, Attorney at Law, LLC, we distinguish ourselves from the majority of other attorneys handling DUI cases by further focusing our practice on continually learning the best and most effective ways to beat the government’s vast array of scientific evidence.</p>

        <p>We seek out and travel to numerous hard to find, out-of-state, multi-day seminars and training focused on how to beat the government’s scientific evidence on a monthly basis.</p>

        <p>Most of the people we defend are by and large good people. They are professional people with good values and are often extraordinary citizens who make positive contribution for the good of society. People make mistakes, our goal is to help all of our clients move past that.</p>

        <p>We understand that being arrested for DUI can be a daunting experience and can leave you feeling shocked and confused. The court process can be intimidating and you face substantial penalties, including jail time, expensive financial penalties and court costs, loss of your driver’s license, DMV costs, an increase in your insurance, and employment consequences.</p>

        <p>Our law firm is committed to guiding you through the DUI process and helping you get your life back to normal.
        DUI convictions are serious and can have lasting repercussions. However, a DUI arrest does not necessarily mean that you will be convicted of a DUI or lose your license. You need a skilled Colorado DUI attorney to help you mitigate the impact that this charge has on your life.</p>

        <p>Attorney Eric Sunness combines in-depth knowledge, experience and skill to aggressively defend your legal rights. You have access to a Northern Colorado DUI attorney with more than 25 years of specialized experience and a practice that is centered on drunk driving defense, who understands the criminal court system and DUI procedures inside and out. Mr. Sunness understands the complexity of DUI cases and frequently works with expert witnesses to challenge the accuracy of sobriety test results. Our success rate is directly linked to this comprehensive knowledge.</p>

        <p>We understand how stressful a DUI can be and are committed to making the process as smooth as possible for our clients. Our DUI Law Office offers personalized service and we work to ensure that your questions and concerns are addressed and that you receive the attention you deserve. Most importantly, we will work diligently to protect your rights and to lessen the impact that the DUI charge has on your life.</p>

        <h3 class="subpage-subheading">Hiring a DUI Attorney To Represent Your Case In Fort Collins, Loveland, and Greeley</h3>

        <p>You may consider handling your DUI arrest on your own, but will likely find that you do not have the experience or knowledge to effectively challenge the charges. The prosecution and judges are not there to advocate on your behalf and are often tough on drunk driving defendants. Attempting to handle your own DUI case can add additional stress and confusion to the already difficult DUI process. Using a DUI attorney is almost always a better choice than not when you are faced with a DUI.</p>

        <p>In addition to possible jail time, loss of your license, expensive fines, probation, impound costs, required use of a vehicle interlock device and court-ordered substance abuse treatment or education, DUIs often come with other significant consequences.</p>

        <p>Some of these consequences include increased insurance premiums, probation violations, loss of your job, loss of a professional license, child custody issues and difficulty obtaining future employment or education opportunities. The serious consequences associated with a DUI will have a far-reaching effect on your life and can greatly impact your loved ones.</p>

        <h3 class="subpage-subheading">About Eric A. Sunness</h3>

        <p>DUI Defense Attorney Eric A. Sunness holds more than 25 years of experience defending DUI and Criminal cases. Born and raised in Binghamton, New York, Mr. Sunness has lived in Fort Collins, Colorado since 1992.  Mr. Sunness graduated from the State University of New York, College at Brockport, and Western Michigan University, Thomas M. Cooley Law School in Lansing Michigan. Mr. Sunness has successfully defended thousands of cases and is a past or present member of several professional associations including the National College for DUI Defense, Colorado Criminal Defense Bar, and Colorado Trial Lawyers Association. He is a nationally ranked Superior DUI Attorney by the National Advocacy for DUI Defense, LLC. Mr. Sunness has been a member of the Larimer County Ethics and Professionalism Committee for more than ten years. </p>

        <p>Mr. Sunness is married and has three children and one grandchild. He is also active in his community. He has served as President of Fort Collins Youth Lacrosse, and Vice President of Northern Colorado Youth Hockey. Mr. Sunness coached ice hockey for thirty years, and was named Coach of the year by Colorado State University, and for the Western Region of the American Collegiate Hockey Association. Mr. Sunness is also an accomplished musician, having played the bass for more than forty years.</p>

        <h3 class="subpage-subheading">Free Consultation</h3>

        <p>We understand that facing a DUI or Criminal Conviction can be overwhelming and that hiring an attorney is an important decision.</p>

        <p>At Eric A. Sunness, Attorney at Law, LLC, we offer free DUI consultations to better enable you to understand your rights and your options. During the consultation, we will review the facts of your case and will provide you with the opportunity to ask questions.</p>

        <p>Call us today at <a href="tel:+1-970-372-2036">970-372-2036</a> or <%= link_to "contact us", contact_path %> online.</p>

      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render partial: "static/awards_section"  %>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
