<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero about">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Fort Collins Criminal And Family Law Firm</h1>
      <p id="hero-description" class="text-inversed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsam libero, officiis perferendis sint id itaque, ea vitae laboriosam labore praesentium architecto. Est necessitatibus voluptas ut esse incidunt possimus quibusdam.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">

        <p>Attorney Eric A. Sunness has represented individuals and businesses in Fort Collins and surrounding communities since 1993. Mr. Sunness has represented and counseled a wide range of clients for 25 years, and has extensive experience in handling criminal defense, juvenile law and personal injury matters.</p>

        <p>Mr. Sunness is a member of the Colorado Bar Association, Larimer County Bar Association, the Colorado Trial Lawyers Association, the Colorado Criminal Defense Bar, the DUI Defense Lawyer's Association, and the National College for DUI Defense, Inc. He has served on the local bar association's Ethics and Professionalism Committee for more than 10 years.</p>

        <h3 class="subpage-subheading">A Proven DUI/DWAI, Family Law, Criminal Defense And Personal Injury Lawyer</h3>

        <p>Eric graduated in 1992 from the Western Michigan University, Cooley Law School in Lansing, Michigan. While attending law school, he served as a legal intern at Sixty Plus, Inc., Elderlaw Clinic of the Thomas M. Cooley Law School, and served as a law clerk for Abood and Doyle, PC. He was also a member of the Thomas M. Cooley Law School Trial Team, served as a professor's assistant in the Trial Workshop program and was on the dean's list.</p>

        <p>Mr. Sunness is married and has three children and one grandson. He is a lover of canine (both large and small). He is also active in his community. He has served as president of Fort Collins Youth Lacrosse and vice president of Northern Colorado Youth Hockey. Mr. Sunness is currently the Head Coach for the Colorado State University Men's Division I Ice Hockey Team and was named Coach of the Year by Colorado State University and for the Western Region of the American Collegiate Hockey Association. He is currently a USA Hockey-certified ice hockey coach, a USA Hockey-certified on-ice official and is an accomplished electric bass guitarist, having played for nearly forty years.</p>

        <p>Hard work and honesty. A simple concept that has mostly fallen by the wayside, it is refreshing to find out it still exists. In Fort Collins, attorney Eric A. Sunness has been working hard for his clients since 1993, focusing his efforts on the practice areas of DUI/DWAI, criminal defense and family law.</p>

        <p>To discuss your case with Eric A. Sunness in a free initial consultation (in criminal and DUI cases), call <a href="tel:+1-970-372-2036">970-372-2036</a>.</p>

        <h3 class="subpage-subheading">A Practice Built On Hard Work And Honesty — Small Firm, Big Results</h3>

        <p>The size of a firm or the number of lawyers on the payroll has nothing to do with the quality of legal outcomes, but a large firm often comes at a high price. Eric A. Sunness, Attorney at Law, LLC, is able to deliver big results for an affordable price while focusing on providing each client with the personal attention he or she deserves. Supported by an experienced, professional staff, attorney Eric A. Sunness has the skills, knowledge and resources to protect the rights of his clients.</p>

        <h3 class="subpage-subheading">Leading CSU Student Athletes To Greatness</h3>

        <p>A youth ice hockey coach since 1986, our firm's founder, Eric A. Sunness, has served as president of the Fort Collins Youth Lacrosse program and as vice president of Northern Colorado Youth Hockey. He is currently a Level IV USA Hockey-certified coach and a USA hockey-certified on-ice official. He is currently the head coach of the men's ice hockey team at Colorado State University, and took home Coach of the Year honors from the university and the American Collegiate Hockey Association in 2009.</p>

        <h3 class="subpage-subheading">Eric A. Sunness | Drunk Driving Defense, Family, Personal Injury And Criminal Law</h3>

        <p>We are the hardworking, honest attorneys you need on your side as you seek to put an end to your legal issues. Contact our Fort Collins criminal and family law firm today for a free consultation. We return calls in a timely manner and are available 24 hours a day, seven days a week for inquiries.</p>
      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render partial: "static/awards_section"  %>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
