<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero dui-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Dui Lawyer</h1>
      <p id="hero-description" class="text-inversed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsam libero, officiis perferendis sint id itaque, ea vitae laboriosam labore praesentium architecto. Est necessitatibus voluptas ut esse incidunt possimus quibusdam.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <%= render partial: "case_results_section" %>
        <h3 class="subpage-subheading">Free Initial Consultation</h3>

        <p>To learn what to do if you get pulled over or to discuss your legal options, call <a href="tel:+1-970-372-2036">970-372-2036</a> or complete the online intake form.</p>

      </div>
      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
