<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero dui-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Case Results</h1>
      <p id="hero-description" class="text-inversed">Our experience and hard work frequently result in positive outcomes for our clients. Although it is impossible to promise a result in any given case, the following Case Results are examples of the favorable results obtained for our clients.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <ol>
          <%= render partial: "case_results_section" %>
        </ol>
        <h3 class="subpage-subheading">Free Initial Consultation</h3>

        <p>To learn what to do if you get pulled over or to discuss your legal options, call <a href="tel:+1-970-372-2036">970-372-2036</a> or complete the online intake form.</p>

      </div>
      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
