<div class="onLoadContainerTransition">
<div class="container-fluid subpage-hero dui-lawyer contact-banner">
  <div id="hero-text" class="subpage-hero-text">
    <h1 id="hero-header" class="text-inversed">Contact Our DWI, Criminal Defense Now</h1>
  </div>
</div>
<div class="container">

    <div class="container sub-page-content">
      <div class="row taller-container">
        <div class="col-md-8">
          <p>The office of attorney Eric A. Sunness, Attorney at Law, LLC, has given effective representation in Colorado since 1993, focusing on the practices of DUI/DWAI and Criminal Defense.</p>

          <p>Our law firms ideology for speaking to our clients can be described by direct legal advice and setting practical objectives.</p>

          <p>In the event that you have legal concerns, you can reach us by calling 970-493-3600 or toll-free 888-830-9445. Alternatively, you can contact our lawyers by filling out the contact form below.</p>

          <p>If you have lawful concerns, you can contact us by calling 970-493-3600 or toll-free 888-830-9445. Alternatively, you can contact our lawyers by filling out the contact form below.</p>

          <p>Our office is located in the heart of Old Town Fort Collins, near the Justice Center at the intersection of College Avenue and East Oak Street. Our office is wheelchair-accessible.</p>

          <%= render partial: "messages/contact", locals: {message: Message.new}  %>
          <p><span class="disclaimer">*Disclaimer</span> The use of the Internet or this form for communication with the firm or any individual member of the firm does not establish an attorney-client relationship. Confidential or time-sensitive information should not be sent through this form.</p>
        </div>
        <div class="col-md-4">
          <%= render partial: "layouts/sidebar" %>
        </div>
      </div>
    </div>
  </div>
</div>
