<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero about">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Eric A. Sunness: 25 Years of Experience with DUI and Criminal Defense Cases.</h1>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <h3 class="subpage-subheading">Eric Sunness has been practicing law for more than 25 years, and has successfully handled DUI and criminal cases in Fort Collins since 1993.</h3>
        <p>Mr. Sunness is widely recognized for the care and compassion that he shows in representing his clients. He takes a great deal of pride in working hard to obtain the very best possible result for his clients at a fair price.  Serving as a former prosecutor has helped to provide Mr. Sunness with the background and experience necessary to represent his clients very effectively.</p>
        <blockquote class="main-blockquote" cite="Jeremiah Wodke">
          <p class="strong-paragraph">Eric Sunness hands down is the best attorney I have ever worked with. In my unfortunate event (DUI) he re-assured me time and time again that he would do everything in his power to help me and even though we could not get the case dropped he lowered the penalties considerably.</p>
          <p class="strong-paragraph">We all make mistakes in life and if you're a young someone like me who just wants to put the event behind you as quickly as possible I highly recommend Eric Sunness as your Fort Collins DUI Lawyer.</p>
          <strong class="blockquote-name"><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=eric+a+sunness&lrd=0x87694af51961ed93:0xc3e76e0846a68b3d,1,"> ~ Jeremiah Wodke (Loveland, CO)</a></strong>
        </blockquote>
        <p>Mr. Sunness has obtained the “AV Preeminent Rating” with Martindale.com, which means that his colleagues consider him to have the highest level of professional excellence. Mr. Sunness has successfully handled over 1000 DUI cases in Larimer and Weld Counties, and has also handled thousands of criminal cases such as Murder, Assault, Domestic Violence, Drug Offenses, Theft, Burglary, Criminal Mischief, Resisting Arrest, Obstructing a Peace Officer, as well as many other charges. Mr. Sunness has served on the Bar Association’s Ethics and Professionalism Committee for close to 15 years.</p>
        <p>Mr. Sunness was born in 1960 in Binghamton, New York. He is a graduate of the State University of New York, College at Brockport, and Western Michigan Law School. He was previously employed at Frey, Korb, Haggerty &amp; Michaels, P.C., where he served as a shareholder for nine years. Mr. Sunness takes a great deal of pride in assisting his clients.  He recognizes that good people can make poor decisions, and that everyone should be treated with respect, and given an opportunity to be judged by what they do as they move forward, rather than by the  mistakes they may have made in the past.
        </p>
        <p>Mr. Sunness and his spouse raised their three grown children in Fort Collins. He has served as an ice hockey coach for 30 years and has been recognized as the Coach of the Year by the American Collegiate Hockey Association. Mr. Sunness also plays the electric bass, an endeavor that he has enjoyed for more than forty years.
        </p>

        <h3 class="subpage-subheading">Schedule a FREE Consultation with me</h3>

        <p>Mr. Sunness understands that a DUI can be overwhelming and that hiring an attorney to handle your case is a critical decision.</p>

        <p>Our firm would love to have a FREE Consultation with you to help you to understand your rights and to give you an overview of what your options are. During the consultation, we will review the facts of your case and provide you with the opportunity to ask questions.</p>

        <p>Schedule an appointment today at <a href="tel:+1-970-493-3600">970-493-3600</a> or <%= link_to "contact us", contact_path %> online.</p>

      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render partial: "static/awards_section"  %>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
