<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero about">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Fort Collins, Loveland, and Greeley DUI and Criminal Defense Law Firm</h1>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">

        <h3 class="subpage-subheading">Distinguished Legal Representation</h3>

        <p>At Eric A. Sunness, Attorney at Law, LLC, we distinguish ourselves from the masses of DUI law firms by focusing our practice on continously being educated by the most effective strategies to surpass the government’s vast database of scientific evidence.</p>

        <p>We search out and go to various elusive, out of state, multiple day courses to concentrate on the best way to surpass the government’s evidence based on science on a continuous basis.</p>

        <p>We understand that being charged with a DUI can be a terrifying experience and can leave a person feeling devistated and perplexed. The legal and court process can be daunting. You could face serious penalties, including jail sentencing, costly financial penalties with court costs, loss of driver’s license, DMV penalties, interlock device and big increase in insurance premiums. To top all of this off there are pontential employment consequences.</p>

        <p>At Eric A. Sunness, Attorney at Law, LLC, we are fully committed to being your guide through the DUI process. We're here to help you get your life back on track.</p>

        <p>We won't sugar coat it; DUI convictions are serious and sometimes have lasting legal and mental repercussions. Although, a DUI arrest does not always result in DUI conviction or even loss of your license. You need a highly-trained Colorado DUI lawyer to help you diminish the impact that this charge has on you and your families life.</p>

        <p>Attorney Eric Sunness utilizes a combination of in-depth research, knowledge and expertise to defend your legal rights aggressively. You have a connection to a Northern Colorado DUI attorney with more than 25 years of experience and a practice with DUI cases. Eric A. Sunness's practice is centered on DUI defense, backed with a deep understanding of DUI procedures and the criminal court system. Many DUI offenders do not understand the many factors that go into a DUI prosecution such as test results. Mr. Sunness routinely communicates with knowledgeable witnesses to challenge the validity of alcohol and drug test results. The success rate of our firm is linked directly to this detail-oriented approach.</p>

        <p>We understand the overwhelming stress that a DUI can have on a person and we are devoted to making the process as transparent as possible for our clients. Our Office, located in Fort Collins, Colorado, functions solely to ensure that your questions and concerns are tended to and that you get the attention your case deserves. More importantly, our dedicated team will work attentively to protect your rights and to decrease the the DUI charge's impact on our clients' lives.</p>


        <h3 class="subpage-subheading">Hiring a DUI Attorney To Represent Your Case In Fort Collins, Loveland, and Greeley</h3>

        <p>You may consider taking care of your DUI capture alone. However, you will probably find that you don't have the experience or learning to viably challenge the specific charges. The judges and prosecution are not there to advocate for your sake and are typically extreme on intoxicated driving respondents. Pursuing your DUI case without legal representation can add extra anxiety to extensively difficult DUI process. In most instances, utilizing a DUI lawyer is often the best decision than not when you are confronted with a DUI.</p>

        <p>Notwithstanding conceivable prison time, loss of your driver's license, probation, fines, impound costs, required utilization of a vehicle interlock device and court-requested substance treatment, DUIs regularly accompany other huge consequences.</p>

        <p>Some of these outcomes incorporate increase in premiums on car insurance, loss of your occupation, probation violations, and trouble getting future employment. The results connected with a DUI will have a sweeping impact on your life and can extraordinarily affect not only you but your friends and family.</p>

        <h3 class="subpage-subheading">Free Consultation</h3>

        <p>We understand that a DUI can be overwhelming and that hiring an attorney to handle your case is a critical decision.</p>

        <p>At Eric A. Sunness, Attorney at Law, LLC, we offer FREE DUI consultations to help enable you to understand your rights and to give you an overview of what your options are. During the consultation, we review the facts of your case and will provide you with the opportunity to ask questions.</p>

        <p>Call us today at <a href="tel:+1-970-372-2036">970-372-2036</a> or <%= link_to "contact us", contact_path %> online.</p>

      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render partial: "static/awards_section"  %>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
