<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero about">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Fort Collins, Loveland, and Greeley DUI and Criminal Defense Law Firm</h1>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">

        <h3 class="subpage-subheading">Distinguished Legal Representation</h3>

        <p>At Eric A. Sunness, Attorney at Law, LLC, we distinguish ourselves from the majority of other attorneys handling DUI cases by further focusing our practice on continually learning the best and most effective ways to beat the government’s vast array of scientific evidence.</p>

        <p>Mr. Sunness is married and has three children and one grandchild. He is also active in his community. He has served as President of Fort Collins Youth Lacrosse, and Vice President of Northern Colorado Youth Hockey. Mr. Sunness coached ice hockey for thirty years, and was named Coach of the year by Colorado State University, and for the Western Region of the American Collegiate Hockey Association. Mr. Sunness is also an accomplished musician, having played the bass for more than forty years.</p>

        <h3 class="subpage-subheading">Free Consultation</h3>

        <p>We understand that facing a DUI or Criminal Conviction can be overwhelming and that hiring an attorney is an important decision.</p>

        <p>At Eric A. Sunness, Attorney at Law, LLC, we offer free DUI consultations to better enable you to understand your rights and your options. During the consultation, we will review the facts of your case and will provide you with the opportunity to ask questions.</p>

        <p>Call us today at <a href="tel:+1-970-372-2036">970-372-2036</a> or <%= link_to "contact us", contact_path %> online.</p>

      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <div class="container">
    <%= render partial: "static/awards_section"  %>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
