<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero criminal-defense-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Criminal Defense Lawyer</h1>
      <p id="hero-description" class="text-inversed">An accomplished and confident trial lawyer that willingly takes cases in front of a judge or jury when necessary, to vindicate his clients' rights.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <h2>Criminal Defense</h2>

        <p>Eric Sunness has successfully defended thousands of criminal cases in Larimer and Weld Counties since 1993. We highly recommend reviewing the numerous client testimonials and case results on this website to see the results that Eric Sunness has been able to obtain for his clients over the years.</p>

        <p>Eric Sunness is a former prosecuting attorney and is highly respected in the legal community for his straight-forward and professional approach to handling difficult cases.</p>

        <p>Eric Sunness recognizes that good people can make mistakes.  He never sugar-coats the truth with his clients. He has a professional relationship with his colleagues including the prosecuting attorneys and the judges that handle these challenging cases.</p>

        <h3 class="subpage-subheading">Experienced And Aggressive Defense Of Misdemeanor And Felony Charges</h3>

        <p>Eric A. Sunness, Attorney at Law, LLC represents clients in Larimer and Weld counties in a wide variety of criminal cases, including: :</p>

        <ul>
          <li>Battery, assault and other violent crimes</li>
          <li>Drug charges, including sales and possession</li>
          <li>Drug cultivation and manufacturing</li>
          <li>Theft, burglary, robbery and grand larceny</li>
          <li>Domestic abuse cases and restraining orders</li>
          <li>Arson</li>
          <li>DUI/DWAI</li>
          <li>Traffic offenses, including reckless driving, speeding, driving without a license, driving without insurance	</li>
          <li>Probation revocation</li>
          <li>Professional crimes, including white collar crimes, fraud and embezzlement</li>
          <li>Disorderly conduct and public intoxication</li>
          <li>Obstructing a peace officer and resisting arrest</li>
        </ul>

        <p> Mr. Sunness personally handles every case. In no event will your case be passed off to an associate attorney. In every criminal case, Mr. Sunness reviews the evidence for constitutional violations or other problems. If any are found, he meets with the district attorney's office to request that the charges be dropped. If dropping the charges is not possible, he will negotiate with the prosecutor's office for a lesser charge or lower penalty. Although the majority of our cases are resolved without the need for a trial, Eric Sunness is an accomplished and confident trial lawyer, and willingly takes cases in front of a judge or jury when necessary to vindicate his clients' rights.</p>

        <h3 class="subpage-subheading">Contact Us For A Free Consultation</h3>

        <p>Our offices are located in Fort Collins near the Justice Center. We are at the intersection of College Avenue and East Oak Street. We also meet clients at the jail whenever it is necessary. If you have any criminal defense questions, our firm can be reached by telephone at <a href="tel:+1-970-372-2036">970-372-2036</a> or by submitting the online contact form.</p>

        <% if @criminal_defenses.present? %>
          <%= render partial: "layouts/subpage_navigation", locals: {subpages: @criminal_defenses} %>
        <% end %>
      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
