<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero dui-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Dui Lawyer</h1>
      <p id="hero-description" class="text-inversed">I’ve been defending my clients against intoxicated driving charges for more than a quarter century. I will handle each part of your case thoroughly. I treat each client as though they are the only one. If you have been arrested, put my two-and-a-half decades of criminal defense experience to work so we can accomplish the most ideal result in your case.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">

        <h2>DUI/DWAI/DUID Defense Attorney with thousands of cases successfully defended.</h2>

        <p>In Colorado, a DUID/DUI/DWI conviction can bring about probation, suspending your driver's license, jail time, fines, DUI education, and treatment. If you are going up against DUI accusations, the consequence of your case and the reality of the disciplines you could face will depend upon the facts of your case and if you have any prior charges for DUI/DWI. </p>

        <p><strong>Also, it can depend on upon your lawyer. </strong></p>

        <p>I am Eric Sunness. I’ve been defending my clients against intoxicated driving charges for more than a quarter century. I will handle each part of your case thoroughly. I treat each client as though they are the only one. If you have been arrested, put my two-and-a-half decades of criminal defense experience to work so we can accomplish the most ideal result in your case.</p>

        <h3 class="subpage-subheading">CHALLENGING YOUR DUI ARREST AND ANY EVIDENCE AGAINST YOU</h3>

        <p>In DWI/DUI cases I always try to arrange a reduction of any charges against you or a dismissal of the case. I always challenge the results of your blood test, or breathalyzer in court . In the event that there were issues with the urine, blood, or breath test used to quantify your blood alcohol concentration (BAC), or with field sobriety testing, there is a chance of  your case being rejected or charges lessened. </p>

        <p>Another imperative question that should be explained in any DWI/DUI case is the reason the officer came into contact with you. Why were you stopped? As your attorney, be sure that I will thoroughly examine all steps of your arrest with the utmost attention to detail. On the off chance that the DUI/DWI stop or arrest was not lawful, I will move to drop any evidence in your case.</p>

        <p><strong>You are innocent of drunk driving until proven guilty.</strong></p>

        <p>A DUI is a confusing process and it is never smart to take matters in your own hands. My criminal defense firm offers the education, experience and responsibility expected to help you effectively avoid prison time, and stop the suspension of your driver's license and other DUI disciplines. </p>

        <h3 class="subpage-subheading">VITAL STEPS TO PROTECT YOURSELF FOLLOWING A DWAI/DUI ARREST</h3>

        <p>The first thing to do if you have been arrested for DUI or DWAI is to visit the Colorado DMV to request a hearing to challenge the suspension of your driver's license. The criminal court proceeding is unique in relation to the DMV hearing for your DWI/DUI arrest. In both the administrative and criminal proceedings with the DMV, I can represent you.</p>

        <p>If you don't request this hearing inside seven days of your DUI arrest, your driver's license will be suspended, regardless of whether or not the allegations against you are later rejected.</p>

        <p>Another move you can make is to recall everything about the arrest as you can. You may even need to record this so you can remember details at a later date. There are two reasons behind doing so. To start with, certain elements of your arrest, for example, field sobriety testing, may help me to figure out a more powerful defense. Second, if you need to go to court the jury will look more positively on you in the event that you are clear about the details of your case.</p>

        <p>Remember that what's important in a DUI case is not whether you were drinking and driving, but if the prosecution has the proper evidence to demonstrate that you were driving while inebriated or impaired due to drugs or alcohol. This must be demonstrated beyond a reasonable doubt. If you are indicted on drunk driving, I will persuade the court for a sentence which includes alcohol treatment, home monitoring or different options other than jail time.</p>

        <% if @duis.present? %>
          <%= render partial: "layouts/subpage_navigation", locals: {subpages: @duis} %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
