<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero criminal-defense-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Criminal Defense Lawyer</h1>
      <p id="hero-description" class="text-inversed">A confident and proficient trial attorney that readily takes cases before a judge or jury when important to vindicate his clients' rights.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <h2>Criminal Defense</h2>

        <p>Eric Sunness has successfully defended thousands of criminal cases in Larimer and Weld Counties since 1993. We highly recommend reviewing the numerous client testimonials and case results on this website to see the results that Eric Sunness has been able to obtain for his clients over the years.</p>

        <p>Eric Sunness is a former prosecuting attorney and is highly respected in the legal community for his straight-forward and professional approach to handling difficult cases.</p>

        <p>Eric Sunness recognizes that good people can make mistakes.  He never sugar-coats the truth with his clients. He has a professional relationship with his colleagues including the prosecuting attorneys and the judges that handle these challenging cases.</p>

        <h3 class="subpage-subheading">Aggressive and Experienced Defense of Felony and Misdemeanor Charges</h3>

        <p>Eric A. Sunness, Attorney at Law, LLC represents clients in Weld and Larimer counties for a variety of criminal cases, including:</p>

        <ul>
          <li>Assault, battery, and other violent crimes</li>
          <li>Possession and sale of drugs and other drug related charges</li>
          <li>Manufacturing and cultivation of drugs</li>
          <li>Burglary, theft, grand larceny and robbery</li>
          <li>Restraining orders, and domestic abuse cases</li>
          <li>Arson</li>
          <li>DUI/DWAI</li>
          <li>Other traffic offenses, including speeding, reckless driving, driving without insurance, driving without a license</li>
          <li>Probation revocation</li>
          <li>Professional crimes, including, fraud, embezzlement, and white collar crimes</li>
          <li>Public intoxication and Disorderly conduct</li>
          <li>Resisting arrest and obstructing a peace officer</li>
        </ul>

        <p> Mr. Sunness personally handles every case. In no event will your case be passed off to an associate attorney. In all criminal cases, Mr. Sunness audits any evidence for constitutional violations or different issues. On the chance that any are discovered, he meets with the district attorney to demand that the charges be dropped. On the off chance that dropping the charges is unrealistic, he will consult with the prosecutor's office for a lesser charge or lower punishment. Despite the fact that the dominant part of our cases are settled without the requirement of a trial, Eric Sunness is a confident and proficient trial attorney, and readily takes cases before a judge or jury when important to vindicate his clients' rights.</p>

        <% if @criminal_defenses.present? %>
          <%= render partial: "layouts/subpage_navigation", locals: {subpages: @criminal_defenses} %>
        <% end %>
      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
