<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero dui-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Dui Lawyer</h1>
      <p id="hero-description" class="text-inversed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsam libero, officiis perferendis sint id itaque, ea vitae laboriosam labore praesentium architecto. Est necessitatibus voluptas ut esse incidunt possimus quibusdam.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <h2>DUI/DWAI Defense Attorneys In Fort Collins With More Than 1000 Successfully Handled Cases</h2>
        <p>t's one of the biggest misconceptions that people have about drunk driving arrests: "The cops have all the evidence they need, so why should I bother with a lawyer?" Law enforcement officers can make mistakes, however, and a knowledgeable lawyer can find those mistakes.</p>

        <p>Even though you face serious consequences after a drunk driving arrest - including driver's license suspension, a fine and/or jail time - you may decide you have no choice but to accept the charges against you. Before you make that decision, contact a Fort Collins lawyer at the office of Eric A. Sunness, Attorney at Law, LLC. Our firm offers a free initial consultation, student discounts and a reasonable flat fee for drunk driving offenses.</p>

        <h3 class="subpage-subheading">Drunk Driving Defense Law Firm</h3>

        <p>Being arrested in Colorado for driving under the influence can have major life consequences. After you've been pulled over for a DUI, call us for staunch legal representation and protection of your license in:</p>

        <ul>
          <li>Aggressive protection of your rights following a first DUI or multiple DUIs</li>
          <li>Guidance as to whether you need a lawyer for your DUI</li>
          <li>Boating under the influence or BUI defense</li>
          <li>Defense if you were caught driving under the influence of drugs</li>
          <li>Zealous protection if you're accused of vehicular homicide or vehicular assault</li>
        </ul>

        <p>We also offer skilled representation to clients in DMV hearings and for those facing charges of driving under restraint, driving under suspension or habitual traffic offender (HTO) violations.</p>

        <h3 class="subpage-subheading">Effective Defense In Court And University Hearings</h3>

        <p>We take the same approach to drunk driving and criminal defense as we do when we represent our other clients. We do not sugarcoat the truth or hide the ball from the prosecution. Our goals are to set reasonable expectations with clients and work out a resolution that is acceptable to the client and the prosecution. This approach has won our firm the respect of the legal community and our clients.</p>

        <p>n addition to handling first-time driving under the influence/driving while ability impaired (DUI/DWAI) offenses and repeat drinking and driving offenses, we also handle other related cases, including boating under the influence, vehicular homicide and DUI manslaughter. Further, our firm represents clients not only in court but also in student disciplinary hearings and at administrative hearings.</p>

        <h3 class="subpage-subheading">Free Initial Consultation</h3>

        <p>To learn what to do if you get pulled over or to discuss your legal options, call <a href="tel:+1-970-372-2036">970-372-2036</a> or complete the online intake form.</p>

      </div>
      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>  
</div>
