<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero dui-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Dui Lawyer</h1>
      <p id="hero-description" class="text-inversed">I have been defending clients against drunk driving charges for over twenty-five years.  I treat every client as if they were my only client. I will handle every aspect of your case personally. If you've been arrested, put my two-and-a-half decades of legal experience focusing on criminal defense to work towards achieving the best possible outcome in your DUI case.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <h2>DUI/DWAI/DUID Defense Attorney with thousands of cases successfully defended.</h2>
        <p>In Colorado, a DWI/DUI/DUID conviction can result in jail time, probation, fines, DUI education and therapy, and suspension of your driver’s license. If you are facing DUI charges, the outcome of your case and the severity of the punishments for drunk driving you could face will depend on the specific circumstances and whether you have any prior convictions for DWI/DUI.</p>

        <p><strong>It can also depend on your attorney.</strong></p>

        <p>I am criminal defense lawyer Eric Sunness. I have been defending clients against drunk driving charges for over twenty-five years.  I treat every client as if they were my only client. I will handle every aspect of your case personally. If you've been arrested, put my two-and-a-half decades of legal experience focusing on criminal defense to work towards achieving the best possible outcome in your DUI case.</p>

        <h3 class="subpage-subheading">IMPORTANT ACTIONS YOU CAN TAKE TO PROTECT YOURSELF AFTER A DUI ARREST</h3>

        <p>The first thing you should do if you have been arrested for DUI or DWAI is to visit the Colorado Department of Motor Vehicles (DMV) to request a hearing to contest the suspension of your driver’s license. The DMV hearing is completely separate from the criminal court proceeding for your DUI/DWI arrest. I can represent you in both the criminal proceedings and the administrative proceedings at the DMV.</p>

        <p>If you do not request this hearing within <strong>7 days</strong> of your DUI arrest, your driver’s license will automatically be suspended, even if the DWI/DUI charges against you are later dismissed.</p>

        <p>Another action you can take is to try to remember as many details about the arrest as you can. You may even want to write the facts down so they stay fresh in your mind. There are two important reasons for doing so. First, if you have to testify in court, the jury will look more favorably on you if you are clear about the facts of your case. Second, certain details of your arrest, such as field sobriety testing, may help me to formulate a more effective defense strategy in your case.</p>

        <h3 class="subpage-subheading">CHALLENGING THE LEGALITY OF YOUR DUI ARREST AND THE EVIDENCE AGAINST YOU</h3>

        <p>In DUI cases I always seek to negotiate a dismissal of the case or a reduction of the charges, whenever possible. I always try to challenge the results of your breathalyzer or blood test in court. If there were problems with field sobriety testing, or with the breath, urine or blood test used to measure your blood alcohol concentration (BAC), there is a better chance of having evidence suppressed and your case dismissed or charges reduced.</p>

        <p>Another important question that needs to be answered in any DUI/DWI case is why did the officer come into contact with you? Why were you stopped? As your lawyer, rest assured that I will go through every step of your arrest with a fine-toothed comb. If the DWI/DUI stop or detention was illegal, I will move to suppress evidence in your case.</p>

        <p><strong>You are innocent of drunk driving charges until proven guilty beyond a reasonable doubt.</strong></p>

        <p>A DUI can be a complex process and it is never wise to attempt handling matters yourself. My criminal defense practice offers the knowledge, experience and commitment needed to help you successfully avoid jail time, as well as prevent the loss of you driver's license and other DWI punishments.</p>

        <p>Keep in mind that what matters in a DUI case is not so much whether you were drinking and driving, but whether the prosecution has enough evidence to prove that you were driving while intoxicated or impaired as a result of alcohol or drugs. This must be proven beyond a reasonable doubt. If you are convicted of driving under the influence, I will lobby the court for a sentence which involves alcohol treatment, home monitoring or other alternatives to jail. Remember:</p>

        <h3 class="subpage-subheading">Free Initial Consultation</h3>

        <p>For a free consultation, call <a href="tel:+1-970-372-2036">970-372-2036</a> or <%= link_to "Contact", contact_path %> me directly at my firm, Eric A. Sunness, Attorney at law, LLC.</p>

      </div>
      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
