<div class="onLoadContainerTransition">
  <div class="container-fluid subpage-hero dui-lawyer">
    <div id="hero-text" class="subpage-hero-text">
      <h1 id="hero-header" class="text-inversed">Your Fort Collins Criminal Defense Lawyer</h1>
      <p id="hero-description" class="text-inversed">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsam libero, officiis perferendis sint id itaque, ea vitae laboriosam labore praesentium architecto. Est necessitatibus voluptas ut esse incidunt possimus quibusdam.</p>
    </div>
  </div>

  <div class="container sub-page-content">
    <div class="row taller-container">
      <div class="col-md-8">
        <h2>Criminal Defense</h2>

        <p>Since 1993, the office of Eric A. Sunness, Attorney at Law, LLC, has defended northern Colorado residents accused of both felony and misdemeanor crimes. We are respected by the legal community and our clients for our straight-shooter approach to criminal defense work. We do not "sugarcoat" the truth with his criminal defense clients, and we do not hide the ball from the prosecution. Our goals are to set reasonable expectations with clients and work out reasonable resolutions with the prosecution.</p>

        <strong>If you have been arrested or charged with a crime, contact us today for a free consultation about your case.</strong>

        <h3 class="subpage-subheading">Experienced And Aggressive Defense Of Misdemeanor And Felony Charges</h3>

        <p>Our lawyers and professional staff represent clients in Larimer and Weld counties in a wide variety of criminal cases, including:</p>

        <ul>
          <li>Battery, assault and other violent crimes</li>
          <li>Drug charges, including sales and possession</li>
          <li>Drug cultivation and manufacturing</li>
          <li>Theft, burglary, robbery and grand larceny</li>
          <li>Domestic abuse cases and restraining orders</li>
          <li>Arson</li>
          <li>DUI/DWAI, reckless driving, speeding, driving without a license, driving without insurance and other traffic offenses</li>
          <li>Probation revocation</li>
          <li>Professional crimes, including white collar crimes, fraud and embezzlement</li>
          <li>Disorderly conduct and public intoxication</li>
          <li>Obstructing a peace officer and resisting arrest</li>
        </ul>

        <p>In every criminal case, our attorneys review the evidence for constitutional violations or other problems. If any are found, we meet with the district attorney's office to request that the charges be dropped. If dropping the charges is not possible, we will negotiate with the prosecutor's office for a lesser charge or lower penalty. Although the majority of our cases are resolved without the need for a trial, we are accomplished and confident trial lawyers, and willingly take cases in front of a judge or jury when necessary to vindicate clients' rights.</p>

        <h3 class="subpage-subheading">Contact Us For A Free Consultation</h3>

        <p>Our offices are conveniently located in Fort Collins near the Justice Center at the intersection of College Avenue and East Oak Street. We also meet clients at the jail when necessary. For answers to your criminal defense questions, our firm can be reached by telephone at <a href="tel:+1-970-372-2036">970-372-2036</a> or by submitting the online contact form.</p>
      </div>

      <div class="col-md-4">
        <%= render partial: "layouts/sidebar" %>
      </div>
    </div>
  </div>
  <%= render partial: "static/contact_section"  %>
</div>
