<!-- HERO -->
<section class="hero">
  <div id="hero-text">
    <h2 id="hero-header">DUI LAWYER for THE FUCKING WORLD!</h2>
    <p id="hero-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit ipsam libero, officiis perferendis sint id itaque, ea vitae laboriosam labore praesentium architecto. Est necessitatibus voluptas ut esse incidunt possimus quibusdam.</p>
  </div>
</section>
<!-- PRACTICE AREAS -->
<section class="practice-areas container-fluid">
  <div class="row">
    <div class="col-xs-5 col-md-4 col-md-offset-1 practice-area">
      <%= image_tag('icon-dui-lawyer-fort-collins.png') %>
      <h2 class="practice-area-title">DUI/DWAI</h2>
    </div>
    <div class="col-xs-5 col-xs-offset-2 col-md-4 col-md-offset-2 practice-area">
      <%= image_tag('icon-criminal-justice-lawyer-fort-collins.png') %>
      <h2 class="practice-area-title">Criminal Justice</h2>
    </div>
</section>
<!-- DUI PDF SECTION -->
<section>
  <div class="container">
    <div class="row dui-pdf-home">
      <div class="col-xs-12 col-sm-8">
        <h3>DUI Resources</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti illo, enim numquam autem, aliquam nobis quaerat vitae reprehenderit accusamus, eligendi ipsam ratione natus facere aperiam. Repellat eaque facilis atque quidem.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Download My PDF!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo maxime pariatur blanditiis animi repudiandae deserunt voluptate ipsa officiis! Cupiditate architecto molestias, mollitia deleniti ex ea eveniet repellat! Esse, voluptatum, alias.</p>
      </div>
    </div><!-- row -->
  </div>
</section>

<!-- CONTACT SECTION SECTION -->
<section class="denim-colored-container">
  <div class="container">
    <div class="row contact-home">
      <div class="col-xs-12 col-sm-8">
        <h3>We're Here to Help You</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti illo, enim numquam autem, aliquam nobis quaerat vitae reprehenderit accusamus, eligendi ipsam ratione natus facere aperiam. Repellat eaque facilis atque quidem.</p>
      </div>
      <div class="col-xs-12 col-sm-4 contact-form">
        <%= render partial: "messages/contact", locals: {message: Message.new}  %>
      </div>
    </div>
  </div>
</section>
