<footer class="text-inversed">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 content-slider-widget">
        <h3>Case Results</h3>
        <ul class="slider">
          <%= render partial: "case_results_section" %>
        </ul>
      </div>
      <!-- <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-0 footer-contact-info">
        <h3>Contact Information</h3>
        <dl>
          <dt><strong>Eric A. Sunness, Attorney at Law, LLC</strong></dt>
          <dd>110 East Oak Street, Suite 220</dd>
          <dd>Phone: <a href="tel:+1-970-372-2036">970-372-2036</a></dd>
          <dd>Fax: 970-493-3625 </dd>
        </dl>
      </div> -->
      <div class="col-sm-6 col-md-4 footer-location-map">
        <h3>Our Location</h3>
        <%= render partial: "layouts/gmap" %>
      </div>
    </div><!-- row -->
  </div><!-- container -->
</footer>
