<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB5LHEm9xcyG2SYE3tj6mxs9TPVX81mY7g'>
</script>
<div style='overflow:hidden;'>
  <div id='gmap_canvas'></div>
  <style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div>

<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=' + <%= ENV["GOOGLE_MAP_KEY"] %>>
</script>

<script type='text/javascript'>function init_map(){
  var myOptions = {
    zoom:12,
    center:new google.maps.LatLng(40.6066449889914,-105.07907045927732),
    mapTypeId: google.maps.MapTypeId.ROADMAP};
    map = new google.maps.Map(document.getElementById('gmap_canvas'),
    myOptions);
    marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.585789800000015,-105.07666719999997)});
    infowindow = new google.maps.InfoWindow({content:'<strong><a href="https://www.google.com/maps/place/Eric+A.+Sunness,+Attorney+at+Law,+LLC/@40.5858026,-105.0787675,17z/data=!3m1!4b1!4m5!3m4!1s0x87694af51961ed93:0xc3e76e0846a68b3d!8m2!3d40.5858026!4d-105.0765788" title="View on Larger Maps" target="_blank">Eric A. Sunness, Attorney at Law, LLC</a></strong><br>110 E Oak St #220<br>80524 Fort Collins<br><a href="https://www.google.com/maps/place/Eric+A.+Sunness,+Attorney+at+Law,+LLC/@40.5858026,-105.0787675,17z/data=!3m1!4b1!4m5!3m4!1s0x87694af51961ed93:0xc3e76e0846a68b3d!8m2!3d40.5858026!4d-105.0765788" title="Get Directions">Get Directions</a>'});
    google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});
    infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
</script>
