<header class="container-fluid">
    <div class="row">
        <h1 id="header-logo"><%= image_tag "Eric-Sunness-DUI-Lawyer-Criminal-Justice-Lawyer.png" %></h1>
        <h2 id="header-slogan">Call for a free initial consultation on criminal and DUI cases</h2>
        <h3 id="header-tf-phone"><span>Toll Free:</span> <a href="tel:+1-888-830-9445">888-830-9445</a></h3>
        <h3 id="header-phone"><a href="tel:+1-970-372-2036">970-372-2036</a></h3>
    </div>
</header>
