<div class="container-fluid">
  <hr>
  <div class="row">
    <div class="col-xs-12 subpages">
      <h3 class="subpage-subheading sub-practice-area-nav">Additional Resources</h3>
      <ul class="sub-practice-area-links">
        <% subpages.each do |subpage| %>
          <li><%= link_to subpage.title.titleize, subpage, class: "white-links" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
